.chat {
	display: grid;
	grid-template-areas: 
	"header"
	"conv"
	"form";

	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	width: 500px;
	margin: 40px auto;
	border: 1px solid black;
	border-radius: 6px;
}

.chat__header {
	grid-area: header;
	background-color: #001329;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	padding: 16px;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #CBCBCB;
}

.chat__header p {
	font-size: 14px;
	font-weight: 500;
	font-family: Arial, sans-serif;
	color: #fff;
}
